.container{
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    outline: 2px black solid;    
}

.container div{    
    margin: 0;
    padding: 0;       
    border: none;
    outline: 1px black solid;    
}